<section class="services text-black">
    <div class="services-container bg-light">
        <div class="heading">
            <h2 class="text-black text-center"><span>Our Services</span></h2>
            <div class="hr"></div>
        </div>
        <section class="inner-section">
          <div class="card outer-card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="card inner-card">
                    <div class="cover item-b">
                      <h1 class="text-black text-center text-uppercase">ZOHO</h1>
                      <!-- <span class="price">$35</span> -->
                      <div class="card-back">
                        <ul>
                          <li class="text-center text-black">Zoho One</li>
                          <li class="text-center text-black">Zoho CRM</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="card inner-card">
                    <div class="cover item-a">
                      <h1 class="text-black text-center text-uppercase">SAP</h1>
                      <!-- <span class="price">$79</span> -->
                      <div class="card-back">
                        <ul>
                          <li class="text-center text-black">Sales & Distribution</li>
                          <li class="text-center text-black">Finance & Controlling</li>
                          <li class="text-center text-black">Material Management</li>
                          <li class="text-center text-black">Advanced Business Application Programming</li>
                          <li class="text-center text-black">Production Planning</li>
                          <li class="text-center text-black">Customer Support</li>
                          <li class="text-center text-black">Inventory & Quality Management</li>
                          <li class="text-center text-black">Human Capital Management</li>
                          <li class="text-center text-black">Business Warehouse & Analytics</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="card inner-card">
                    <div class="cover item-c">
                      <h1 class="text-black text-center text-uppercase">Microsoft</h1>
                      <!-- <span class="price">$155</span> -->
                      <div class="card-back">
                        <ul>
                          <li class="text-center text-black">D365</li>
                          <li class="text-center text-black">Powersuite</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center align-items-center">
              <a routerLink="/services" class="text-center">
                <button type="button" class="more-btn text-light"> 
                  More Services
                </button>
              </a>
            </div>
          </div>
        </section>
    </div>
</section>