<section class="why-us text-black text-center align-items-center" style="font-family: Arial, Helvetica, sans-serif;">
    <div class="container bg-light">
        <div class="heading text-center">
            <h2 class="text-center"><span>Why Choose Us</span></h2>
            <div class="hr"></div>
        </div>
        <div class="card">
            <div class="card-body">
                <input type="radio" class="service-input" name="position" />
                <input type="radio" class="service-input" name="position" />
                <input type="radio" class="service-input" name="position" checked />
                <input type="radio" class="service-input" name="position" />
                <input type="radio" class="service-input" name="position" />
                <main id="carousel">
                  <div class="item">
                    <h4 class="m-3 p-2">TAILORED SOLUTIONS</h4>
                    <span class="mt-4 p-3">
                        We pride ourselves on crafting bespoke consultancy services 
                        tailored to your unique challenges. Our approach is not one-size-fits-all; 
                        it's a personaspanzed strategy designed for your success.
                    </span>
                  </div>
                  <div class="item">
                    <h4 class="m-3 p-2">INNOVATIVE STRATEGIES</h4>
                    <span class="mt-4 p-3">
                        We are at the forefront of industry trends, constantly evolving our 
                        methodologies to provide you with cutting-edge solutions. Our commitment 
                        to innovation ensures your business stays ahead in a dynamic market.
                    </span>
                  </div>
                  <div class="item">
                    <h4 class="m-3 p-2">CLIENT-CENTRIC FOCUS</h4>
                    <span class="mt-4 p-3">
                        Your success is our priority. Our client testimonials speak volumes 
                        about the collaborative and client-centric approach we bring to every 
                        engagement.
                    </span>
                  </div>
                  <div class="item">
                    <h4 class="m-3 p-2">TRANSPARENT COMMUNICATION</h4>
                    <span class="mt-4 p-3">
                        We bespaneve in clear and open communication. Throughout the consultancy 
                        process, you can expect transparent updates, detailed progress reports, 
                        and proactive collaboration.
                    </span>
                  </div>
                  <div class="item">
                    <h4 class="m-3 p-2">GLOBAL REACH, LOCAL UNDERSTANDING</h4>
                    <span class="mt-4 p-3">
                        With a global perspective and a deep understanding of local markets, 
                        we offer a unique blend of international expertise and locaspanzed insights.
                    </span>
                  </div>
                </main>
            </div>
        </div>
    </div>
</section>