<app-header></app-header>

<section class="intro bg-light text-center text-black">
    <div class="container">
        <div class="title">
            <h2 class="mb-3 text-uppercase">A Little Introduction</h2>
            <div class="hr"></div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5>
                    Welcome to Tensor.io, where innovation meets expertise. We are a 
                    dynamic IT consultancy startup committed to transforming your business 
                    through cutting-edge technology solutions. With a team of seasoned 
                    professionals, we thrive on delivering tailored strategies, seamless 
                    integrations, and unparalleled support. At Tensor.io, we bridge 
                    the gap between your vision and technological excellence, ensuring 
                    your success in the digital era. Join us on the journey of redefining 
                    possibilities in the world of IT.
                </h5>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
