<app-header></app-header>

<section class="action text-center">
  <!-- <div class="container text-center">
      <div>
        Unlock the full potential of your business processes
      </div>
      <div>
        Tensor is your go-to for complex supply chain digital transformations and correct data reporting 
      </div>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="left col-md-6 col-sm-12 col-xs-12 text-black">
        <div class="content">
          <h2 class="">
            Unlock the full potential of your business processes
          </h2>
          <h5>
            Tensor is your go-to for complex supply chain digital transformations and correct data reporting 
          </h5>
        </div>
      </div>
      <div class="right col-md-6 col-sm-12 col-xs-12"></div>
    </div>
  </div>
</section>

<app-why-us></app-why-us>

<app-our-services></app-our-services>

<app-features></app-features>

<app-footer></app-footer>